@model HRManagment1.Models.Payroll

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payroll</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deducations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deducations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PayrollId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
