@model IEnumerable<HRManagment1.Models.Payroll>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PayPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrossPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deducations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PayPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrossPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deducations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PayrollId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PayrollId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PayrollId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
